*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box; /*ajuda com larguras e espaçamentos*/
}

a{
    text-decoration: none; /* pra tirar os subliando dos link */
    color: #fff;
}

ul{
    list-style: none; /* pra tirar as bolinhas da lista */
}

img{
    max-width: 100%;
}